body {
    overflow: hidden;
}
.tutorialWrap {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: -678px;
    overflow: hidden;
}
.chatPopUpWrap {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.tutorials {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 0 auto;
    color: #FFFFFF;
}
.tutorialChat {
    width: 1200px;
    height: 150px;
    background-color: #000000;
}
.chat {
    width: 1200px;
    height: 30px;
    line-height: 30px;
}
.chat h3 {
    margin-left: 5px;
    font-family: consolas;
}
.system {
    width: 1200px;
    height: 120px;
    border: 1px solid #00ffff;
    box-sizing: border-box;
}
.chatName {
    margin-left: 20px;
    display: block;
    width: 100px;
    height: 150px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
}
.chatName h4 {
    color: #00FFFF;
    font-size: 14px;
    font-family: Consolas;
}
.chatName h4 strong {
    color: #FF0000;
    font-size: 12px;
}
.chatting {
    width: 1050px;
    height: 150px;
    display: block;
    float: right;
    box-sizing: border-box;
    padding-top: 20px;
    /*overflow: scroll;*/
}
.chatting p {
    font-size: 13px;
    font-family: "Noto Sans CJK KR Regular";
}