body {width: 100%; height: 100vh; background: url("../images/grid-bg.png") no-repeat center; background-size: cover; overflow: hidden;}
section { width: 100%; height: 100vh;}
section h2 { position: absolute; width: 300px; height: 125px; left: 50%; top: 50%; margin-left: -535px; margin-top: -329px;}
section h2 img { width: 300px; height: 125px;}
.contentsWrap { width: 1200px; height: 628px; margin: 50px auto 0; background: url("../images/world map-main.png") no-repeat center; background-size: contain}
.mainWrap { width: 1200px; height: 628px;  background: url("../images/outline.png") no-repeat center; background-size: contain;   }
.location { position: absolute; width: 1200px; height: calc(100vh - 70px); margin: 35px auto;}
.location p { position: absolute; font-family: SwiszRegular; font-size: 14px; color: #C3C3C3; text-align: center;}
#korea { left: 50%; top: 50%; margin-top: -180px; margin-left: -20px;}
#atOcean01 { left: 50%; top: 50%; margin-top: -130px; margin-left: -510px;}
#atOcean02 { left: 50%; top: 50%; margin-top: -120px; margin-left: 400px;}
#paOcean { left: 50%; top: 50%; margin-top: -60px; margin-left: 60px;}
#arOcean { left: 50%; top: 50%; margin-top: -335px; margin-left: 20px;}
#inOcean { left: 50%; top: 50%; margin-top: 10px; margin-left: -230px;}
#korea a { font-family: SwiszRegular; font-size: 18px; color: #FFFFFF; text-decoration: none;}
#pointer img { position: absolute; width: 100px; height: 80px; top: 50%; left: 50%; margin-top: -130px; margin-left: -120px;}
#compass { position: absolute; width: 174px; height: 174px; top: 50%; left: 50%; margin-left: 400px; margin-top: 120px;}
#compass img { width: 120px; height: 120px;}