body {
    width: 100%;
    height: 100vh;
    background-color: #002946;
}
section {
    position: relative;
    width: 1200px;
    height: 628px;
    margin: 0 auto;
}
section h2 {
    position: absolute;
    width: 300px;
    height: 125px;
    left: 50%;
    top: 50%;
    margin-left: -535px;
    margin-top: -296px;
}
section h2 img {
    width: 300px;
    height: 125px;
}

.contentsWrap {
    width: 1200px;
    height: 628px;
    margin: 50px auto 0;
    background: url("../images/worldmap-bg.png") no-repeat center;
    background-size: contain;
}
.loginWrap {
    width: 1200px;
    height: 628px;
    background: url("../images/outline2.png") no-repeat center;
    background-size: contain;
}
.login {
    position: absolute;
    width: 1200px;
    height: 628px;
}
.loginOutline {
    position: relative;
    width: 634px;
    height: 414px;
    background: url("../images/login-box.png") no-repeat center;
    background-size: contain;
    margin: 55px auto 0;
    padding-top: 95px;
}
.loginOutline h3 {
    font-family: Consolas;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.loginOutline form p {
    padding-left: 30px;
    width: 370px;
    height: 40px;
    line-height: 40px;
    color: #00FFFF;
    font-size: 14px;
    font-family: Consolas, Arial;
    margin: 10px auto 0;
    background: url("../images/input-box.png") no-repeat center;
    background-size: contain;
}
.loginOutline form p:nth-child(2) {
    margin-top: 55px;
}
.loginOutline form p:nth-child(4) {
    background-image: none;
}
.loginOutline form p:nth-child(5) {
    background-image: none;
}
.loginOutline form input[type=text] {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    width: 250px;
    height: 40px;
    line-height: 40px;
    color: #00FFFF;
    float: right;
}
.loginOutline form input[type=text]:focus {
    color: #00FFFF;
}
.loginOutline form input[type=password] {
    margin-left: 30px;
    background-color: transparent;
    border: none;
    width: 250px;
    height: 40px;
    line-height: 40px;
    color: #00FFFF;
    float: right;
}
.loginOutline form input[type=password]:focus {
    color: #00FFFF;
}
.loginOutline form span#find {
    display: block;
    width: 370px;
    height: 30px;
    color: #FF0000;
    font-size: 8px;
    text-align: center;
    margin: 0 auto;
}
.loginOutline form input#registerBtn {
    border: none;
    background: transparent;
    color: white;
    font-family: consolas;
    font-size: 12px;
    padding: initial;
    float: left;
    cursor: pointer
}
.loginOutline form input#findBtn {
    border: none;
    background: transparent;
    color: white;
    font-family: consolas;
    font-size: 12px;
    padding: initial;
    float: right;
    cursor: pointer;
}
.loginOutline form input[type=submit] {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    outline: none;
    color: #FFFFFF;
    font-family: Consolas, Arial;
    font-size: 14px;
    box-shadow: inset 0px 0px 3px 1px #FFFFFF,0px 0px 3px 1px #FFFFFF;
    margin-left: 135px;
}
.loginOutline form input[type=submit]:hover {
    text-shadow: 0 0 5px #FFFFFF;
}
#errorIcon {
    width: 20px;
    height: 20px;
    background: url("../images/warning-mark.png") no-repeat center;
    background-size: contain;
    margin-left: 100px;
    margin-top: -108px;
    display: none;
}
#errorMessages {
    width: 400px;
    height: 30px;
    color: #FF0000;
    font-family: "Noto Sans CJK KR Regular", "맑은 고딕";
    font-size: 12px;
    text-align: center;
    margin: -100px auto 0;
    display: none;
}