body {
    overflow: hidden;
}
.tutorialWrap {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: -678px;
    overflow: hidden;
}
.questPopUpWrap {
    position: absolute;
    width: 100%;
    height: 628px;
}
.tutorialss {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 50px auto;
    color: #FFFFFF;
}
.infoPopUp {
    width: 800px;
    height: 500px;
    margin: 170px auto 0;
}
#focusInfo {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -297px;
    margin-top: -245px;
}
#focusInfo img {
    width: 155px;
}
#connectInfo {
    position: absolute;
    display: block;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -174px;
    margin-top: -169px;
}
#connectInfo img {
    width: 100px;
}

