body {
    width: 100%;
    background-color: #002946;
}
section {
    position: relative;
    height: 628px;
    margin: 0 auto;
}
section h2 {
    position: absolute;
    width: 300px;
    height: 125px;
    left: 50%;
    top: 50%;
    margin-left: -535px;
    margin-top: -296px;
}
section h2 img {
    width: 300px;
    height: 125px;
}

.contentsWrap {
    width: 1200px;
    height: 628px;
    margin: 50px auto 0;
    background: url("../images/worldmap-bg.png") no-repeat center;
    background-size: contain;
}
.teamWrap {
    width: 1200px;
    height: 628px;
    background: url("../images/outline.png") no-repeat center;
    background-size: contain;
}
.team {
    position: absolute;
    margin-top: 30px;
    width: 1200px;
    height: 628px;
}
.teamOutline {
    position: relative;
    height: 455px;
    background: url("../images/team-box.png") no-repeat center;
    background-size: contain;
    top: -40px;
}
.selectTeamWrap {
    width: 1000px;
    height: 628px;
    margin: 0 auto;
}
.selected {
    width: 500px;
    height: 200px;
    margin: 95px auto 0;
}
.selectedTeamSym {
    width: 180px;
    height: 180px;
    float: left;
    margin-left: 50px;
    margin-top: 90px;
}
.selectedTeamSym img {
    width: 180px;
    height: 180px;
}
.selectedTeamInfo {
    width: 140px;
    height: 208px;
    margin-right: 50px;
    margin-top: 80px;
    float: right;
}
.selectedTeamInfo p {
    font-family: Consolas;
    font-size: 18px;
    color: #00FFFF;
}
.selectedTeamInfo p:first-child {
    margin-top: 30px;
    margin-bottom: 25px;
}
.selectedTeamInfo p:nth-child(2) {
    margin-bottom: 35px;
}
.selectedTeamInfo form input[type=submit] {
    width: 130px;
    height: 35px;
    background: none;
    border: 3px solid #FFFFFF;
    border-radius: 5px; box-shadow: 0 0 10px #FFFFFF, inset 0 0 10px #FFFFFF;
    color: #FFFFFF;
    font-family: SwiszRegular;
    font-size: 20px;
    text-shadow: 0 0 8px #FFFFFF;
}
.teamListWrap {
    width: 600px;
    height: 100px;
    margin: 0 auto;
}
.teamList {
    position: absolute;
    width: 500px;
    height: 76px;
    margin: 100px 0 0 55px;
}
#prev {
    display: block;
    width: 30px;
    height: 76px;
    line-height: 76px;
    float: left;
    text-align: left;
    box-shadow: 0 0 10px #002946;
}
#prev a {
    width: 15px;
}
#prev a img {
    width: 15px;

}
.symbols {
    width: 440px;
    height: 76px;
    float: left;
    overflow: hidden;
}
.symbols ul {
    width: 500px;
    height: 76px;
}
.symbols ul li {
    width: 70px;
    float: left;
    margin-right: 30px;
}
.symbols ul li:last-child {
    margin-right: 0;
}
.symbols ul li img {
    width: 70px;
}
#next {
    width: 30px;
    height: 76px;
    line-height: 76px;
    float: right;
    text-align: right;
    box-shadow: 0 0 10px #002946;
}
#next a {
    width: 15px;
}
#next a img {
    width: 15px
}