body {
    overflow: hidden;
}
.tutorialWrap {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: -678px;
    overflow: hidden;
}
.chatPopUpWrap {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.tutorials {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 200px auto;
    color: #FFFFFF;
}
.tutorials h1 {
    font-family: SwiszRegular;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 15px #00FFFF;
}
.selectPopUp {
    width: 1000px;
    height: 100px;
    background-color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin: 50px auto;
    padding-left: 100px;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #00FFFF;
}
.selectPopUp span {
    font-size: 30px;
    font-family: "Noto Sans CJK KR Regular", "맑은 고딕";
}
.tutorials form span {
    display: block;
    width: 1000px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
.tutorials form input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-family: SwiszRegular;
    color: #FFFFFF;
    cursor: pointer;
}
.tutorials form input:hover {
    text-shadow: 0 0 15px #00FFFF;
}
.tutorials form input[type=button] {
    margin-right: 100px
}