@import "common.css";
/* tutorial common */
body {
    overflow: hidden;
}
.tutorialWrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    /*top: -678px;*/
    overflow: hidden;
}
.tutorialWrap02 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    overflow: hidden;
}
/* //tutorial common */

/* chatPopUp */
.chatPopUpWrap {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.chatBox {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 0 auto;
    color: #FFFFFF;
}
.tutorialChat {
    width: 1200px;
    height: 150px;
    background-color: #000000;
}
.chat {
    width: 1200px;
    height: 30px;
    line-height: 30px;
}
.chat h3 {
    margin-left: 5px;
    font-family: consolas;
}
.system {
    width: 1200px;
    height: 120px;
    border: 1px solid #00ffff;
    box-sizing: border-box;
}
.chatName {
    margin-left: 20px;
    display: block;
    width: 100px;
    height: 150px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
}
.chatName h4 {
    color: #00FFFF;
    font-size: 14px;
    font-family: Consolas;
}
.chatName h4 strong {
    color: #FF0000;
    font-size: 12px;
}
.chatting {
    width: 1050px;
    height: 150px;
    display: block;
    float: right;
    box-sizing: border-box;
    padding-top: 20px;
    /*overflow: scroll;*/
}
.chatting p {
    font-size: 13px;
    font-family: "Noto Sans CJK KR Regular";
}
/* //chatPopUp */

/* tutorialStartPopUp */
.tutorialStartWrap {
    width: 1200px;
    height: 628px;
    margin: 82px auto 0;
}
.tutorials {
    height: 550px;
    background: url("../images/start-bg.png") no-repeat center;
    background-size: contain;
    margin: 0 auto;
    color: #FFFFFF;
}
.tutorialSection {
    width: 1200px;
    height: 500px;
    position: absolute;
}
.welcomeTutorial {
    width: 300px;
    height: 180px;
    text-align: center;
    margin: 180px auto 0;
}
.welcomeTutorial p {
    font-family: SwiszRegular;
    font-size: 22px;
    color: #000000;
}
.welcomeTutorial span {
    font-family: "Noto Sans CJK KR Light";
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.tutorialSection form span {
    width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.tutorialSection form input {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: SwiszRegular;
    font-size: 18px;
    cursor: pointer;
}
.tutorialSection form input:hover {
    background-color: #00FFFF;
    color: #FFFFFF;
}
.tutorialSection form input[type=button] {
    margin-right: 40px;
}
/* //tutorialStartPopUp */

/* tutorialSelectPopUp */
.selectBox {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 200px auto;
    color: #FFFFFF;
}
.selectBox h1 {
    font-family: SwiszRegular;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 15px #00FFFF;
}
.selectPopUp {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin: 50px auto;
    box-sizing: border-box;
    box-shadow: 0 0 15px #00FFFF;
}
.selectPopUp span {
    font-size: 30px;
    font-family: Consolas, "Noto Sans CJK KR Regular";
}
.selectBox form span {
    display: block;
    width: 1000px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
.selectBox form input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-family: SwiszRegular;
    color: #FFFFFF;
    cursor: pointer;
}
.selectBox form input:hover {
    text-shadow: 0 0 15px #00FFFF;
}
.selectBox form input[type=button] {
    margin-right: 100px
}
/* //tutorialSelectPopUp */

/* tutorialCountrySelect */
.tutorialCityWrap {
    position: absolute;
    width: 100%;
    height: 628px;
    margin: 50px auto;
}
.cityBox {
    width: 1200px;
    height: 628px;
    background-size: contain;
    margin: 0 auto;
    color: #FFFFFF;
}
.activeLocation {
    width: 1200px;
    height: 628px;
    position: relative;
}
#usaMap {
    display: block;
    height: 83px;
    width: 146px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 180px;
    margin-top: -106px;
}
#usaMap img {
    height: 83px;
}
#usaPointer {
    display: block;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 230px;
    margin-top: -85px;
}
#usaPointer img {
    height: 20px;
}
#usaLine {
    display: block;
    height: 20px;
    width: 90px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 150px;
    margin-top: -93px;
}
#usaLine img {
    width: 90px;
}
#usa {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 95px;
    margin-top: -97px;
}
#austMap {
    display: block;
    width: 101px;
    height: 91px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: 92px;
}
#austMap img {
    height: 91px;
}
#austPointer {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -78px;
    margin-top: 122px;
}
#austPointer img {
    height: 20px;
}
#austLine {
    display: block;
    width: 20px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -68px;
    margin-top: 108px;
}
#austLine img {
    width: 90px;
}
#aust {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 27px;
    margin-top: 105px;
}
#korMap {
    display: block;
    width: 22px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -93px;
    margin-top: -82px;
}
#korMap img {
    height: 35px;
}
#korPointer {
    width: 100px;
    height: 82px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -124px;
    margin-top: -104px;
}
#korPointer img {
    width: 100px;
}
#kor {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -20px;
    margin-top: -103px;

}
/* //tutorialCountrySelect */

/* tutorialCitySelect */
#koreaMap {
    display: block;
    height: 83px;
    width: 146px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -64px;
    margin-top: -39px;
}
#koreaMap img {
    height: 250px;
}
#jejuMap {
    display: block;
    width: 101px;
    height: 91px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -62px;
    margin-top: 233px;
}
#jejuMap img {
    height: 20px;
}
#jejuPointer {
    display: block;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -83px;
    margin-top: 204px;
}
#jejuPointer img {
    width: 100px;
}
#jeju {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 21px;
    margin-top: 204px;
}
/* //tutorialCitySelect */

/* tutorialTownSelect */
#sgpMap {
    display: block;
    width: 690px;
    height: 287px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -353px;
    margin-top: -117px;
}
#sgpMap img {
    height: 287px;
}
#sgpPointer {
    display: block;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -27px;
    margin-top: 10px;
}
#sgpPointer img {
    width: 100px;
}
#seogwipo {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 77px;
    margin-top: 12px;
}
/* //tutorialTownSelect */

/* countryInfoPopUp */
#korPointer {
    width: 100px;
    height: 82px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -223px;
}
#korPointer img {
    width: 100px;
}
.countryInfo {
    position: absolute;
    width: 100%;
    height:  300px;
}
.countryInfoBox {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    color: #FFFFFF;
}
.activeDescription {
    padding: 20px;
    width: 600px;
    height: 250px;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: 100px;
    margin-left: -21px;
}
.activeDescription h3 {
    font-family: SwiszRegular;
    color: #00ffff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00FFFF;
}
.activeInfo {
    display: block;
    height: 100px;
}
.activeInfo ul {
    padding-left: 20px;

}
.activeInfo ul li {
    list-style-type: initial;
    line-height: 22px;
    font-family: consolas;
    font-size: 14px;
}
#joinBtn span {
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}
#joinBtn input[type=submit] {
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    font-size: 20px;
    font-family: SwiszRegular;
    box-shadow: 0 0 15px #00FFFF, inset 0 0 15px #00FFFF;
    text-shadow: 0 0 15px #00FFFF;
}
/* //countryInfoPopUp */

/* questPopUp */
.questPopUpWrap {
    position: absolute;
    width: 100%;
    height: 628px;
}
.questPopUpBox {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 50px auto;
    color: #FFFFFF;
}
.questPopUp {
    width: 800px;
    height: 500px;
    margin: 170px auto 0;
}
.questPopUp h2 {
    text-align: center;
}
.questBox {
    height: 315px;
    background: url(../images/popup-bg.png) no-repeat center;
    background-size: contain;
}
.questWrap {
    width: 540px;
    height: 315px;
    margin: 0 auto;
}
.questWrap dl {
    width: 100px;
    height: 150px;
    margin-right: 115px;
    margin-top: 80px;
    display: inline-block;
}
.questWrap dl:last-child {
    margin-right: 0;
}
.questWrap dl dt {
    margin-bottom: 30px;
}
.questWrap dl dd {
    text-align: center;
}
.questWrap dl dt img {
    width: 100px;
}
/* //questPopUp */

/* questInfoPopUp */
.questInfoBox {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 50px auto;
    color: #FFFFFF;
}
.infoPopUp {
    width: 800px;
    height: 500px;
    margin: 170px auto 0;
}
#focusInfo {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -297px;
    margin-top: -245px;
}
#focusInfo img {
    width: 155px;
}
#connectInfo {
    position: absolute;
    display: block;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -174px;
    margin-top: -169px;
}
#connectInfo img {
    width: 100px;
}
.questInfo {
    position: absolute;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -135px;
}
.questInfo ul {
    width: 130px;
    height: 90px;
    padding: 10px 10px 0 30px;
}
.questInfo li {
    list-style-type: disc;
    font-family: Consolas;
    font-size: 12px;
    line-height: 20px;
}
.questInfo form fieldset {
    width: 130px;
    height: 30px;
    margin: 0 auto;
}
.questInfo form input {
    font-family: SwiszRegular;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 15px #00FFFF;
    background-color: transparent;
    border: none;
    outline: none;
    width: 130px;
    text-align: center;
}
/* //questInfoPopUp */

/* questDetailPopUp */
.detailWrap {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    /* top: -678px; */
    overflow: hidden;
    background-color: #002946;
}
.questDetailPopUp {
    width: 1200px;
    height: 300px;
    margin: 220px auto 0;
}
.questDetailBox {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    background: url("../images/qna-popup.png") no-repeat center;
    background-size: contain;
}
.questNum {
    width: 700px;
    height: 35px;
}
.questNum h3 {
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: #000000;
    font-family: SwiszRegular;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}
.questContent {
    width: 620px;
    height: 230px;
    margin: 10px auto;
    border-bottom: 1px solid #00FFFF;
    box-sizing: border-box;
}
.questContent p {
    font-family: consolas;
    color: #FFFFFF;
    width: 400px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.questContent span {
    width: 500px;
    height: 190px;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: "Noto Sans CJK KR Regular", "맑은 고딕";
}
.questDetailBox form fieldset {
    width: 600px;
    height: 45px;
    margin: 0 auto;
}
.questAnswer {
    display: block;
    width: 680px;
    height: 45px;
    margin: 0 auto 10px;
}
.questAnswer p:nth-child(1) {
    width: 520px;
    height: 30px;
    margin-left: 40px;
    margin-right: 0;
    float: left;
}
#answer {
    width: 520px;
    height: 30px;
    margin-top: 4px;
    background-color: transparent;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    padding-left: 10px;
    box-sizing: border-box;
}
.questAnswer p:nth-child(2) {
    width: 45px;
    line-height: 45px;
    height: 45px;
    margin-right: 40px;
    border: 2px solid #00FFFF;
    border-radius: 45px;
    float: right;
    text-align: center;
    box-shadow: 0 0 8px #00FFFF, inset 0 0 8px #00FFFF;
}
#send {
    width: 30px;
    height: 30px;
    background: url(../images/send-button.png) no-repeat center;
    background-size: contain;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}
.authButton {
    display: block;
    width: 680px;
    height: 30px;
}
.authButton p{
    width: 150px;
    height: 30px;
    margin-left: 45px;
    background: url("../images/auth-button.png") no-repeat center;
    background-size: contain;
}
#auth {
    width: 150px;
    height: 25px;
    background-color: transparent;
    border: none;
    line-height: 25px;
    color: #FFFFFF;
    font-family: SwiszRegular;
    font-size: 18px;
    cursor: pointer;
}
.connectLine {
    width: 150px;
    height: 95px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 100px;
    margin-top: -358px;
}
.connectLine img {
    width: 150px;
    height: 95px;
}
/* //questDetailPopUp */

/* questCompletePopUp */
.completeBox {
    width: 1200px;
    height: 550px;
    background-size: contain;
    margin: 200px auto;
    color: #FFFFFF;
}
.completeBox h1 {
    font-family: SwiszRegular;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 15px #00FFFF;
}
.completePopUp {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin: 50px auto;
    box-sizing: border-box;
    box-shadow: 0 0 15px #00FFFF;
}
.completePopUp span {
    font-size: 30px;
    font-family: Consolas;
    text-align: center;
}
.completeBox form span {
    display: block;
    width: 1000px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
.completeBox form input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-family: SwiszRegular;
    color: #FFFFFF;
    cursor: pointer;
}
.completeBox form input:hover {
    text-shadow: 0 0 15px #00FFFF;
}
/* //questCompletePopUp */

/* authInsertPopUp */
.authPopUp {

}
/* //authInsertPopUp */