$primaryColor : #00FFFF;
$secondaryColor : #FFFFFF;
$mainColor : #00FFFF;
$sizeContent : 210px;
$strokeWidth : 20px;
$strokeLineCap : round;

body{
  background-color: #1b1a1a;
  color: #ffffff;
}
.questProgressBar,
.progressBar-contentCircle{
  display: table;
  height: $sizeContent;
  position: absolute;
  width: $sizeContent;
}
.progressBar-circle,
.progressBar-background{
  //animation: progress 1s;
  fill: none; // background color
  stroke: $prima
  ryColor; // path color
  stroke-width: $strokeWidth; // path size
  stroke-linecap: $strokeLineCap;
  stroke-dasharray: 0; // circonférence du cercle
  stroke-dashoffset: 0; // longeur du cercle
  position: relative;
  z-index: 10;
}
.progressBar-background{
  stroke: white; // path color
  stroke-width: $strokeWidth - 1;
  z-index: 0;
}
.progressBar-percentage{
  color: $secondaryColor;
  font-size: 40px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
