body {
    overflow: hidden;
}
.tutorialWrap {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: -678px;
    overflow: hidden;
}
.tutorialCountryWrap {
    position: absolute;
    width: 100%;
    height: 628px;
    margin: 50px auto;
}
.tutorials {
    width: 1200px;
    height: 628px;
    background-size: contain;
    margin: 0 auto;
    color: #FFFFFF;
}
.activeLocation {
    width: 1200px;
    height: 628px;
    position: relative;
}
#usaMap {
    display: block;
    height: 83px;
    width: 146px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 180px;
    margin-top: -106px;
}
#usaMap img {
    height: 83px;
}
#usaPointer {
    display: block;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 230px;
    margin-top: -85px;
}
#usaPointer img {
    height: 20px;
}
#usaLine {
    display: block;
    height: 20px;
    width: 90px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 150px;
    margin-top: -93px;
}
#usaLine img {
    width: 90px;
}
#usa {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 95px;
    margin-top: -97px;
}
#austMap {
    display: block;
    width: 101px;
    height: 91px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: 92px;
}
#austMap img {
    height: 91px;
}
#austPointer {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -78px;
    margin-top: 122px;
}
#austPointer img {
    height: 20px;
}
#austLine {
    display: block;
    width: 20px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -68px;
    margin-top: 108px;
}
#austLine img {
    width: 90px;
}
#aust {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: 27px;
    margin-top: 105px;
}
#korMap {
    display: block;
    width: 22px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -93px;
    margin-top: -82px;
}
#korMap img {
    height: 35px;
}
#korPointer {
    width: 100px;
    height: 82px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -124px;
    margin-top: -104px;
}
#korPointer img {
    width: 100px;
}
#kor {
    text-decoration: none;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -20px;
    margin-top: -103px;

}