<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/haw_html/admin/css/common.css">
    <link type="text/css" rel="stylesheet" href="/haw_html/admin/css/quest.css">
    <link type="" rel="stylesheet" href="">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <title>HA.W ADMIN</title>
</head>
<body>
<div id="wrapper">
    <div w3-include-html="/haw_html/admin/include/left_menu.html"></div>
    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
        <div w3-include-html="/haw_html/admin/include/top_search.html"></div>
        <h2 class="main-title">문제</h2>

        <!-- content-wrap -->
        <div class="content-wrap">
            <!--컨텐트 작업은 이 안에서만 하시면 됩니다.-->
        </div>
        <!-- //content-wrap -->
    </div>
    <!-- /#page-content-wrapper -->
</div>
<script>
    w3IncludeHTML();
</script>
</body>
</html>