.quest-write-wrap {
    width: 100%;
}

.quest-main-title {
    font-size: 28px;
    font-family: "Noto Sans CJK KR DemiLight";
    color: #FFFFFF;
}
.quest-write-box fieldset {
    width: 100%;
    margin-top: 20px;
}

.quest-write-form-wrap {
    width: 100%;
}

.quest-write-btn-wrap {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.btn-box {
    width: 205px;
    height: 25px;
    float: right;
}

.write-btn, .revise-btn, .delete-btn {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    color: #A6A6A6;
    font-size: 14px;
    font-family: "Noto Sans CJK KR Light";
    line-height: 14px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 5px;
    outline: none;
}

.quest-input-left {
    width: 50%;
    float: left;
}

.quest-input-right {
    width: 50%;
    float: right;
}

.quest-input-left tr th, .quest-input-right tr th{
width: 15%;
background-color: #191F28;
font-size: 14px;
font-family: "Noto Sans CJK KR Light";
color: #A3A3A3;
padding-top: 30px;
padding-left: 15px;
box-sizing: border-box;
text-align: left;
}

.quest-input-left tr:last-child th, .quest-input-right tr:last-child th {
padding-bottom: 30px;
}

.quest-input-left tr td {
width: 35%;
padding: 30px 20px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Noto Sans CJK KR Thin";
}
.quest-input-right tr td {
    width: 35%;
    padding: 30px 0 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Noto Sans CJK KR Thin";
    line-height: 20px;
}

.quest-input-left input.long-textBox, .quest-input-right input.long-textBox {
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #00FFFF;
    border-radius: 3px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.quest-input-left input.short-textBox {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #00FFFF;
    border-radius: 3px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.quest-input-left tr td select {
    border: 1px solid #00ffff;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
}
.quest-input-left tr td select option {
    background-color: #191F28;
    border: 1px solid #00ffff;
    border-radius: 3px;
    color: #FFFFFF;
    outline: none;
}

.quest-input-right tr td span {
    margin-right: 10px;
}
.quest-input-right tr td input[type=radio] {
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width: 10px;
    height: 10px;
    border: 1px solid #9500FF;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 10px;
}

.quest-input-right tr td input[type=radio]:checked {
    outline: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #00ffff;
    border: none;
    border-radius: 3px;
}

.quest-input-right tr td button.tag-btn {
    width: 30px;
    height: 30px;
    background-color: #00ffff;
    border-radius: 3px;
    outline: none;
    border: none;
    vertical-align: middle;
    margin-left: -4px;
    line-height: 35px;
}

.quest-input-right tr:nth-child(2) th, .quest-input-right tr:nth-child(3) th {
    vertical-align: baseline;
}

.quest-input-right tr td #quest-tag {
    margin-bottom: 5px;
}
.quest-input-right tr td .tags .tag-type01 {
    height: 30px;
    padding: 0 10px;
    background-color: rgba(0, 255, 255, 0.6);
    border-radius: 3px;
    font-size: 12px;
    margin: 5px 5px 0 0;
}

.quest-input-right tr td .tags .tag-type02 {
    height: 30px;
    padding: 0 10px;
    background-color: rgba(149, 0, 255, 0.6);
    border-radius: 3px;
    font-size: 12px;
    margin: 5px 5px 0 0;
}

/*  Toggle Switch  */

.toggleSwitch span span {
    display: none;
}

@media only screen {
    .toggleSwitch {
        display: inline-block;
        height: 18px;
        position: relative;
        overflow: visible;
        padding: 0;
        cursor: pointer;
        width: 40px
    }

    .toggleSwitch * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .toggleSwitch label,
    .toggleSwitch > span {
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
        outline: none;
    }

    .toggleSwitch label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }

    .toggleSwitch input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

    .toggleSwitch > span {
        position: absolute;
        width: 100%;
        margin: 0;
        padding-right: 50px;
        text-align: left;
        white-space: nowrap;
    }

    .toggleSwitch > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: -1px;
        text-align: left;
        font-size: 0.9em;
        width: 100%;
        left: 15%;
        top: -1px;
        opacity: 0;
    }

    .toggleSwitch a {
        position: absolute;
        right: 50%;
        z-index: 4;
        display: block;
        height: 100%;
        padding: 0;
        left: 2px;
        width: 18px;
        background-color: #191F28;
        border: 1px solid #191F28;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .toggleSwitch > span span:first-of-type {
        color: #191F28;
        opacity: 1;
        left: 45%;
    }

    .toggleSwitch > span:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -2px;
        border: 1px solid #9500ff;
        background-color: #9500FF;
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .toggleSwitch input:checked ~ a {
        border-color: #191F28;
        left: 100%;
        margin-left: -8px;
    }

    .toggleSwitch input:checked ~ span:before {
        border: 1px solid #00ffff;
        box-shadow: inset 0 0 0 30px #00FFFF;
    }

    .toggleSwitch input:checked ~ span span:first-of-type {
        opacity: 0;
    }

    .toggleSwitch input:checked ~ span span:last-of-type {
        opacity: 1;
        color: #191F28;
        font-family: "Noto Sans CJK KR DemiLight";
    }

    .toggleSwitch.large {
        width: 60px;
        height: 27px;
        margin-top: -10px;

    }

    .toggleSwitch.large a {
        width: 27px;
    }

    .toggleSwitch.large > span {
        height: 29px;
        line-height: 28px;
    }

    .toggleSwitch.large input:checked ~ a {
        left: 41px;
    }

    .toggleSwitch.large > span span {
        font-size: 14px;
        font-family: "Noto Sans CJK KR DemiLight";
    }

    .toggleSwitch.large > span span:first-of-type {
        left: 55%;
    }
}
/* //ToggleSwitch */

/* Popup */

.popup-wrapper {
    position: absolute;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    margin-left: 250px;
    z-index: 6;
}

.mission-popup-wrap {
    width: 100%;
    height: 600px;
    background-color: #FF0000;
    margin-top: 150px;
}

.mission-popup-layer {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #0E131A;
    box-sizing: border-box;
    border-radius: 30px;
    border: 5px solid transparent;
    border-image: -webkit-linear-gradient(-45deg, #00FFFF 1%,#9500FF 100%);
}

/* //Popup */