.team-wrap {
    width: 100%;
    background-color: brown;
}
article.each-team-wrap {
    width: 100%;
    height: 200px;
    background-color: #191F28;
    margin-bottom: 30px;
}
ul.team-top {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ffffff;
}
li.team-top01 {
    width: 400px;
    height: 45px;
    float: left;
}
.team-title {
    width: 400px;
    height: 45px;
}
.strap-line {
    margin: 0 20px;
    height: 45px;
    line-height: 44px;
    display: inline-block;
}
.strap-line span {
    font-size: 20px;
    font-family: "Noto Sans CJK KR Regular", "맑은 고딕";
}
.team-name {
    height: 40px;
    width: 150px;
    display: inline-block;
    background-color: #0E131A;
    line-height: 40px;
    padding: 0 5px;
    box-sizing: border-box;
}
.team-name span {
    font-size: 20px;
    font-family: "Noto Sans CJK KR Regular", "맑은 고딕";
}
li.team-top02 {
    width: 60px;
    height: 45px;
    float: right;
}
.edit-btn {
    width: 60px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.edit-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}
ul.team-bottom {
    width: 100%;
    height: 155px;

}
li.team-bottom01 {
    width: 15%;
    height: 150px;
    background-color: aqua;
    display: inline-block;
    float: left;
}
li.team-bottom02 {
    width: 35%;
    height: 150px;
    background-color: blueviolet;
    display: inline-block;
    float: left;
}
li.team-bottom03 {
    width: 20%;
    height: 150px;
    background-color: chartreuse;
    display: inline-block;
    float: left;
}

li.team-bottom04 {
    width: 30%;
    height: 150px;
    background-color: coral;
    display: inline-block;
    float: left;
}
.team-mark {
    margin: 15px auto;
    width: 110px;
    height: 110px;
    border: 2px solid #FFFFFF;
    border-radius: 110px;
}
.team-mark img {
    width: 90px;
    height: 90px;
    margin: 10px;
}